<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>355702880546-13oradkjm3pncvbdk5uh772e5b7d54g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355702880546-13oradkjm3pncvbdk5uh772e5b7d54g7</string>
	<key>API_KEY</key>
	<string>AIzaSyAN7ocFB1Ix_VFmQu_Xiq1khRdHsBQA2Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>355702880546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AymanFathy.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flach-chat-11ef6</string>
	<key>STORAGE_BUCKET</key>
	<string>flach-chat-11ef6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355702880546:ios:449c64409ff9980f</string>
	<key>DATABASE_URL</key>
	<string>https://flach-chat-11ef6.firebaseio.com</string>
</dict>
</plist>